@import "../../scss/revature-colors.scss";

.home-page {
  min-height: 105vh;
  max-width: 100vw;

  .center-column {
    margin-top: 50px;

    input {
      width: 100%;
      line-height: 2.2;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}