.BatchForm{
    height: 40vh;
    max-width:30vw; 
    background-color:white;
    border-radius:25px;
    text-align:center;
    color:#F26925;
    border:solid;
    border-color:black; 
    border-width:1px;
    padding:20px;

}

.BatchFormSubmit{
    max-width:150px;
    color:white !important;
    background-color:#F26925 !important; 
    margin:auto; 
    margin-top:90px; 
    border-radius:15px;

}