@import '../../scss/revature-colors.scss';


.ModalBody {
    background-color: white;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.TextAreaContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.TextAreaLabel {
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

.TextAreaInput {
    resize: none;
    max-width: 90%;
    width: 400px;
    height: 200px;
    padding: 10px;
    outline: none;
    border: 1px solid $rev-superlgray;
    border-radius: 8px;
    transition: all .1s ease-in-out;
}

.TextAreaInput:focus {
    transition: all .1s ease-in-out;
    border: 1px solid rgb(123, 176, 255);
    box-shadow: 0 0 5px 2px rgb(123, 176, 255);
}

.DatePickerContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.DatePicker {
    cursor: pointer;
    border: 1px solid $rev-superlgray;
    padding: 5px;
    border-radius: 8px;
    outline: none;
}

.DatePicker:hover {
    background-color: aliceblue;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
    outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator:focus {
    box-shadow: 0 0 5px 2px $rev-blue;
}

.SubmitButton {
    border: 3px solid $rev-orange;
    border-radius: 4px;
    background-color: $rev-orange;
    color: white;
    width: 200px;
    height: 30px;
    margin: auto;
    margin-top: 10px;
}
.SubmitButton:focus {
    outline: none;
}
.SubmitButton:hover {
    background-color: white;
    color: $rev-orange;
}
.SubmitButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
