$orange: #F26925;
$white:  #FFFFFF;
$darkgray:  #474C55;

#notif-header {
    background-color: $orange;
    color: $white;
}

#notif-header:hover {
    background-color: $darkgray;
}

.myTable {
    margin-bottom: 0px !important;
}

// .notif-row {
//     background-color: $darkgray;
//     color: $white;
// }