.RequestBatchCard {
    width: 400px;
    height: 300px;
    border: 1px solid #F26925;
    box-shadow: 3px 3px 15px #72A4C260;
    margin: 30px auto;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: white;
    color: #474C55;
}

.RequestBatchCardText {
    text-align: left;
    margin-bottom: 30px;
}

.RequestBatchButton {
    width: 300px;
    height: 30px;
    background-color: #F26925;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2.5px solid #F26925;
    user-select: none;
}

.RequestBatchButton:hover {
    background-color: white;
    color: #F26925;
    cursor: pointer;
}