@import "./revature-colors.scss";

.batch-info-card {
  border-radius: 20px !important;
  border: 1px solid #F26925 !important;
  box-shadow: 3px 3px 15px #72A4C260;

  div.card-header {
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    h4 {
      margin-top: 6px;
      color: $rev-orange;
    }
  }

  div.card-footer {
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .card-body {
    color: $rev-dgray;

    .row {
      margin-top: 15px;
    }
  }

  .logo-container {
    text-align: center;

    img {
      max-width: 60%;
      max-height: 80px;
    }
  }
}