@import "./revature-colors.scss";

.home-page {
  min-height: 105vh;

  .center-column {
    margin-top: 50px;
    padding-bottom: 150px;

    input {
      border-color: $rev-orange;
      border-radius: 4px;
      width: 100%;
      line-height: 2.2;
      padding-left: 8px;
      padding-right: 8px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}