$rev-yellow: #FCB414;
$rev-orange: #F26925;
$rev-dgray: #474C55;
$rev-lgray:  #B9B9BA;
$rev-superlgray: #DADADA;
$rev-blue: #72A4C2;
$rev-blue-trans: #72A4C2BB;
$rev-cust-gray: #f3f3f3;
$rev-font: futura-pt, sans-serif;
$rev-font-style: normal;
$rev-font-weight: 300;